@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300&family=Roboto:wght@500&family=Source+Code+Pro&display=swap');

:root {
    ---rosa: #EF476F;
    ---amarelo: #FFD166;
    ---verde: #06D6A0;
    ---azul: #118AB2;
}

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    font-family: 'Source Code Pro';
    color: white;
}

body {
    background-color: black;
}

#modo-claro-toggle {
    margin: 1%;
    height: 6px;
    width: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: black;
}

.modo-imagem {
    height: 8px;
    width: 8px;
}


.modo {
    display: flex;
    justify-content: flex-end;
}

button {
    color: black;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 20px;
}

button:hover {
    cursor: pointer;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 3%;
}

.cabecalho-item {
    padding-left: 2%;
    padding-right: 2%;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cabecalho-item:hover {
    border-bottom: 2px solid white;
    transition: border 0.2s;
}

@media (max-width: 768px) {
    .cabecalho-item {
        font-size: 10px;
        /* Reduza o tamanho da fonte para dispositivos móveis */
    }
}

a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 768px) {
    a {
        font-size: 15px;
    }
}

.conteudo {
    padding: 1%;
}

.titulo {
    text-align: center;
    padding: 3%;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media (max-width: 768px) {
    .titulo {
        font-size: 30px;
        /* Reduza o tamanho da fonte para dispositivos móveis */
    }
}

.containers {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    height: 450px;
    padding: 2%;
    font-size: 15px;

}

@media (max-width: 768px) {
    .containers {
        display: flex;
        flex-direction: column;
    }
}

.container-grande {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 50%;
    margin-right: 3%;
    height: 100%;
}
@media (max-width: 768px) {
    .container-grande, .containers-pequenos-cima-dois,  .containers-pequenos-cima-um {
        display: flex;
        width: 350px;
        height: 100px;
        margin: 20px;
        padding: 0;
        margin-bottom: 0;
        margin-right: 0;      
    }
}


.container-grande:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(253, 253, 253, 0.2);
}


.container-grande-texto {
    padding: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    background-color: var(---rosa);
    border-radius: 20px;
}

.containers-pequenos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50%;
    height: 100%;
}

.containers-pequenos-cima {
    display: flex;
    margin-bottom: 1%;
    height: 44%;
}
@media (max-width: 768px) {
    .containers-pequenos, .containers-pequenos-cima {
        display: flex;
        width: 98%;
        padding: 0;
        margin-bottom: 0;
        margin-right: 0;   
    }
}
.containers-pequenos-cima-um {
    display: flex;
    border-radius: 20px;
    margin-right: 2%;
    width: 50%;
}

.containers-pequenos-cima-um-texto {
    padding: 1%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background-color: var(---amarelo);
    border-radius: 20px;
}

.containers-pequenos-cima-um:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(253, 253, 253, 0.2);
}


.containers-pequenos-cima-dois {
    display: flex;
    border-radius: 20px;
    display: flex;
    width: 50%;
}

.containers-pequenos-cima-dois-texto {
    padding: 2%;
    display: flex;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background-color: var(---verde);
    border-radius: 20px;
}

.containers-pequenos-cima-dois:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(253, 253, 253, 0.2);
}

.containers-pequenos-baixo {
    display: flex;
    margin-top: 3%;
    border-radius: 20px;
    display: flex;
    width: 100%;
    height: 45%;
}

@media (max-width: 768px) {
    .containers-pequenos-baixo{
        display: flex;
        width: 350px;
        height: 100px;
        margin-top: 0;
        margin-left: 20px
    }
}

.containers-pequenos-baixo-texto {
    padding: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background-color: var(---azul);
    border-radius: 20px;
}

.containers-pequenos-baixo:hover {
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 0 8px 12px rgba(253, 253, 253, 0.2);
}

.rodape-texto {
    margin: 2%;
    font-size: 10px;
    text-align: end;
    margin-top: 4%;
}

.sobre {
    background-color: black;
}

.sobre-conteudo {
    margin: 2%;
    border-radius: 20px;
    padding: 2%;
    margin-top: 0%;
    background-color: var(---rosa);
    height: 500px;
}

.educacao {
    background-color: black;
}

.educacao-conteudo {
    margin: 2%;
    border-radius: 20px;
    padding: 2%;
    margin-top: 0%;
    background-color: var(---amarelo);
    height: 500px;
}

.portifolio {
    background-color: black;
}

.portifolio-conteudo {
    margin: 2%;
    border-radius: 20px;
    padding: 2%;
    margin-top: 0%;
    background-color: var(---azul);
    height: 500px;
}

.contato {
    background-color: black;
}

.contato-conteudo {
    margin: 2%;
    border-radius: 20px;
    padding: 2%;
    margin-top: 0%;
    background-color: var(---verde);
    height: 500px;
}

/*Estilo Modo Claro*/
.modo-claro {
    background-color: white;
}

.modo-claro * {
    color: black;
}

.modo-claro .titulo {
    color: black;
}

.modo-claro #modo-claro-toggle {
    background-color: white;
}
